.loansList-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 676px;
    max-height: 134px;
    padding: 32px;
    border: 1px solid rgba(48, 50, 71, 0.1);
    border-radius: 20px;
}

.loansList>.loansList-item {
    margin-bottom: 32px;
}

.loansList-title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 16px;
}

.loansList-text {
    font-weight: 400;
    font-size: 20px;
}

.loansList-btn {
    width: 137px;
    height: 56px;
    padding: 16px 32px;
    font-size: 20px;
    background-color: #f7e308;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}